.advrt {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wrapper-tablet();
    padding-top: 60px;
    padding-bottom: 60px;    
  }
}

.advrt__descript {
  @media (min-width: @tablet-width) {
    width: 295px;
    margin-left: auto;
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.advrt__caption {
  @media (min-width: @tablet-width) {
    .caption-3-s();
  }
}

.adwrt__text {
  @media (min-width: @tablet-width) {
    .text-2();
  }
}
