.download {
  padding-top: 28px;
  padding-bottom: 28px;

  &__caption {
    display: none;
  }

  &__btn {
    margin-bottom: 28px;
  }

  &__list-icon {
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 28px;
  }

  &__text {
    display: block;

    font-weight: lighter;
    text-align: center;
    color: @color-white;
  }
}
