.download {}

.download__caption {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin-bottom: 40px;

    font-size: 40px;
    line-height: 45px;
    font-weight: lighter;
    text-align: center;
  }
}

.download__btn {
  margin-bottom: 28px;

  @media (min-width: 660px) {
    margin-bottom: 40px;
  }
}

.download__list-icon {
  width: 210px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;

  @media (min-width: 660px) {
    margin-bottom: 40px;
  }
}

.download__text {
  display: block;

  font-weight: lighter;
  text-align: center;
  color: @color-white;
  }
