.header {
  .container();

  background-color: @color-blue;

  @media (min-width: 660px) {
    background-image: url("https://via.placeholder.com/1200x729/DBAD6D");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.header__nav-box {
  padding-bottom: 390px;

  background-image: url("https://via.placeholder.com/320x462/DBAD6D");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: 660px) {
    padding-bottom: 0;
    background: none;
  }

  @media (min-width: 1200px) {
    background-color: rgba(28, 38, 49, 0.3);
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;

  background-color: rgba(28, 38, 49, 0.3);

  @media (min-width: 660px) {
    width: 660px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    padding-top: 35px;
    padding-bottom: 35px;

    background-color: transparent;
  }
}

.header__nav--open {
  background-color: @color-blue;
}

.header__logo {
  display: block;
  padding: 24px 20px;

  @media (min-width: 660px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.header__nav-btn {
  padding: 10px 20px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.header__menu {
  display: none;
  width: 100%;

  @media (min-width: 1200px) {
      display: grid;
      width: 660px;
    }
}

.header__menu--open {
  display: block;

  @media (min-width: 1200px) {
      display: grid;
      width: 660px;
    }
}

.header__download-box {
  @media (min-width: 660px) {
    .wrapper();
  }
}

.header__download {
  .wrapper();
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: 660px) {
    width: 300px;
    margin-left: 0;
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
