.main {
  .container-mobile();
}

.main__promo {
  .wrapper-mobile();
  padding-top: 28px;
}

.main__promo-caption {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  .caption-2-s();

  text-align: center;
}

.main__advrt-box {
  display: none;
}

.main__rewiew {
  .wrapper-mobile();
}

.main__table-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 100px;
  padding-bottom: 100px;

  overflow: hidden;
}
