.menu {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @desktop-width) {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
  }
}

.menu__link {
    display: block;
    .padding-mobile();
    padding-top: 19px;
    padding-bottom: 19px;

    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: @color-white;

    @media (min-width: @desktop-width) {
      padding: 11px;
      line-height: 18px;
      font-weight: lighter;
    }
  }

