.rewiew {
  display: flex;
  align-items: flex-start;

  padding-top: 28px;
  padding-bottom: 28px;
}

.rewiew__item {
  display: none;
  flex-direction: column;
  margin: 0;

  &--show-js {
    display: flex;
  }
}

.rewiew__text {
  .text-1();  
  text-align: center;

  @media (min-width: @tablet-width) {
    .text-2();
  }
}

.rewiew__autor {
  order: -1;
  .caption-3-s();

  font-style: normal;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 1;
  }  
}

.rewiew__autor-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
