.panorama {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }
}

.panorama__post {
  position: relative;
}

.panorama__img {
  display: block;
  width: 100%;
  height: auto;
}

.panorama__caption {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.panorama__autor {
  order: -2;
}

.panorama__btn-like {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.panorama__btn {
  position: absolute;
  top: 0;
  right: 19px;

  width: 140px;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @tablet-width) {
    top: 53px;
    right: 129px;
  }

  &:focus {
    outline-color: white;
  }
}

