.btn-mark-1{
  background-color: transparent;
  border: 2px solid black;
  border-right: none;
  border-top: none;
}

.btn-mark-2 {
  background-color: transparent;
  border: 2px solid black;
  border-left: none;
  border-top: none;
}
