.header {
  background-color: @color-blue;

  @media (min-width: @tablet-width) {
    background-image: url("https://via.placeholder.com/1200x729/DBAD6D");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.header__nav-box {
  background-image: url("https://via.placeholder.com/320x462/DBAD6D");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    background-color: rgba(28, 38, 49, 0.3);
  }
}

.header__nav {
  background-color: rgba(28, 38, 49, 0.3);

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.header__nav--open {
  background-color: @color-blue;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}
