.main__pictures-list {
  @media (min-width: @tablet-width) {
    background-image: url("https://via.placeholder.com/268x547/d22856");
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
