.main__pictures-list {

  @media (min-width: @tablet-width) {
    background-image: url("https://via.placeholder.com/268x547/d22856");
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  @media (min-width: @desktop-width) {
    background: none;
  }
}

.main__pictures-list-box {
  background-color: darkgrey;
}

.main__advrt-box {
  @media (min-width: @desktop-width) {
    background-color: darkgrey;
  }
}
