.review__text {
  .text-x1();
  line-height: 30px;  
  text-align: center;

  @media (min-width: @tablet-width) {
    .text-x3();
  }
}

.review__autor {
  .caption-x1();
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: @color-black;
}

.review__autor-info {
  .text-x1();
  font-weight: normal;
}
