.review {
  display: flex;
  align-items: flex-start;
}

.review__item {
  display: none;
  flex-direction: column;
  margin: 0;

  &--show-js {
    display: flex;
  }
}

.review__autor {
  order: -1;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {

  }
}

.review__autor-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
  }
}

.review__btn-box {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 58px;
  margin-right: auto;
  margin-left: auto;

  transform: translate(-50%, -50%);

  @media (min-width: @desktop-width) {
    display: none;
  }  
}

.review__btn-mark-1 {
  position: absolute;
  left: -5%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(45deg);  
}

.review__btn-mark-2 {
  position: absolute;
  left: 105%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(-45deg);
}
