.review {
  overflow: hidden;
}

.review__inner-box {
  display: flex;
  align-items: flex-start;
}

.review__item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 280px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.review__autor {
  order: -1;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 0;
  }
}

.review__autor-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
  }
}

.review__btn-box {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 58px;
  margin-right: auto;
  margin-left: auto;

  transform: translate(-50%, -50%);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.review__btn-mark-1,
.review__btn-mark-2 {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.review__btn-mark-1 {
  position: absolute;
  left: -5%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(45deg);
}

.review__btn-mark-2 {
  position: absolute;
  left: 105%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(-45deg);
}
