.review__text {
  .text-x3();
  line-height: 30px;  
  text-align: center;

  @media (min-width: @tablet-width) {
    .text-x7();
  } 
}

.review__autor {
  .text-x7();
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: @color-black;

  @media (min-width: @desktop-width) {

  } 
}

.review__autor-info {

  font-weight: normal;

  @media (min-width: @tablet-width) {

  }   
}
