.review__inner-box--left-0x {
  transform: translateX(0);

  @media (min-width: @tablet-width) {
    transform: translateX(0);
  }

  @media (min-width: @desktop-width) {
    transform: translateX(0);
  }
}

.review__inner-box--left-1x {
  transform: translateX(-280px);

  @media (min-width: @tablet-width) {
    transform: translateX(-620px);
  }

  @media (min-width: @desktop-width) {
    transform: translateX(-780px);
  }
}

.review__inner-box--left-2x {
  transform: translateX(-560px);

  @media (min-width: @tablet-width) {
    transform: translateX(-1240px);
  }

  @media (min-width: @desktop-width) {
    transform: translateX(-1560px);
  }
}
