.input-tel {
  position: relative;
  padding-right: 60px;
}

.input-tel__input {
  width: 100%;  
  padding: 18px 20px;
}

.input-tel__icon {
  position: absolute;
  top: 50%;
  right: 21px;

  display: block;
  width: 20px;
  height: 20px;

  transform: translate(0, -50%);
}
