.input-tel {
  position: relative;
  padding-right: 60px;
}

.input-tel__input {
  padding: 13px 20px;
}

.input-tel__icon {
  position: absolute;
  top: 50%;
  right: 21px;

  display: block;
  width: 18px;
  height: 13px;

  transform: translate(0, -50%);
}
