.header__caption {
  .caption-x2();
  font-weight: lighter;
  text-align: center;
  color: @color-white;  
  
  @media (min-width: @tablet-width) {
    .caption-x4();
  }

  @media (min-width: @desktop-width) {
    .caption-x5();
  }
}

.header__text {
  .text-x1(); 
  font-weight: lighter;
  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    .text-x3();
  }
}
