.header__caption {
  .text-x10();
  font-weight: lighter;
  text-align: center;
  color: @color-white;  
  
  @media (min-width: @tablet-width) {
    .text-x11();
  }

  @media (min-width: @desktop-width) {
    .text-x12();
  }
}

.header__text {
  .text-x2();
  font-weight: lighter;
  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    .text-x6();
  }
}
