.header__nav-box {
  padding-bottom: 392px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    min-height: 111px;    
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.header__logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }  
}

.header__logo {
  width: 75px;
  height: 70px;

  @media (min-width: @tablet-width) {
    width: 147px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }  
}

.header__burger {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__menu {
  display: none;
  width: 100%;

  @media (min-width: @desktop-width) {
    display: grid;
    width: 660px;
  }
}

.header__menu--active-js {
  display: block;

  @media (min-width: @desktop-width) {
    display: grid;
    width: 660px;
  }
}

.header__download-box {
  padding-top: 28px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.header__download {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left: 0;
    padding-top: 93px;
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 94px;
    padding-bottom: 113px;
  }
}

.header__caption {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
  }
}

.header__btn {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.header__icon-list {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.header__text {
  display: block;
}
