@keyframes headerhand {
  0% {
    background-position: -500px 161px, -500px bottom;
    opacity: 0;
  }
  100% {
    background-position: 515px 161px, center bottom;
    opacity: 1;
  }
}

@keyframes headerMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header__menu {
  transform: translateY(-100%);
  @media (min-width: @desktop-width) {
    transform: translateY(0);
  }
}

.header__menu--open {
  animation-name: headerMenu;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.88, 0.02, 0.07, 0.97);
  animation-fill-mode: forwards;
}

.header__download-box {
  @media (min-width: @desktop-width) {
  background-position: 515px 161px, center bottom;

  animation-name: headerhand;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0.49, 1, 0.37);
  animation-fill-mode: forwards;
  }
}
