.header__nav--open {
  background-color: @color-blue-x2;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.header__menu-box--open {
  display: block;

  @media (min-width: @desktop-width) {
    width: 660px;
  }
}

