@keyframes headerhand {
  0% {
    background-position: -500px 161px, -500px bottom;
    opacity: 0;
  }
  100% {
    background-position: 515px 161px, center bottom;
    opacity: 1;
  }
}

.header__download-box {
  @media (min-width: @desktop-width) {
  background-position: 515px 161px, center bottom;

  animation-name: headerhand;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.16, 0.39, 0.63, 0.82);
  animation-fill-mode: forwards;
  }
}
