.btn-large {
  @media (min-width: @desktop-width) {
    transition: background-color 0.4s;
  }
}

.btn-large:hover,
.btn-large:focus {
  background-color: #135d39;
}

.btn-large:active{
  color: rgba(255, 255, 255, 0.3);
}
