.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.copyright__logo {
  width: 147px;
  height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }  
}

.copyright__logo-img {
  width: 147px;
  height: 40px;
}

.copyright__social-list {
  width: 175px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.copyright__link {
  position: relative;

  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 42px;
}

.copyright__link-icon {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 27px;
  height: 27px;

  transform: translate(0, -50%);
}
