.copyright__logo:hover {
  .copyright__logo-img {
    fill: @color-pink;
  }
}

.copyright__logo:active {
  .copyright__logo-img {
    fill: @color-pink;
    opacity: 0.3;
  }
}

.copyright__link-icon {
  @media (min-width: @desktop-width) {
    transition: fill 0.4s;
  }
}

.copyright__link:hover {
  .copyright__link-icon {
    fill: @color-pink;
  }
}

.copyright__link:active {
  .copyright__link-icon {
    opacity: 0.3;
  }
}
