.copyright__logo:hover,
.copyright__logo:focus {
  .copyright__logo-img {
    fill: @color-pink;
  }
}

.copyright__logo:active {
  .copyright__logo-img {
    fill: @color-pink;
    opacity: 0.3;
  }
}

.copyright__link:hover,
.copyright__link:focus {
  .copyright__link-icon {
    fill: @color-pink;
  }
}

.copyright__link:active {
  .copyright__link-icon {
    opacity: 0.3;
  }
}