.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;  
}

.modal__caption {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__text{
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__btn {
  width: 100%;
}
