.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px;
  }
}

.modal__caption {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__text{
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__btn {
  width: 100%;
}
