.custom-range {
  border-bottom: 2px solid @color-grey-x1;
}

.custom-range__bar {
  background-color: @color-black;
}

.custom-range__status-bar {
  background-color: @color-pink;

  &::after {
    background-color: @color-white;
    border: 2px solid @color-pink;
    border-radius: 50%;
  }
}

.custom-range__icon,
#saturate-icon path {
  fill: @color-pink;
}
