.custom-range {
  @media (min-width: @tablet-width) {
    position: relative;
  }   
}

.custom-range__bar {
  padding-right: 60px;
}

.custom-range__status-bar {
  position: relative;

  height: 2px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;

    display: block;
    width: 14px;
    height: 14px;

    transform: translate(0, -50%);
  }
}

.custom-range__icon {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.custom-range:nth-child(1) .custom-range__icon {
  width: 44px;
  height: 44px;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }    
}

.custom-range:nth-child(2) .custom-range__icon {
  width: 48px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  } 

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }    
}

.custom-range:nth-child(3) .custom-range__icon {
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }      
}

.custom-range:first-child .custom-range__icon {
  position: absolute;
  left: 36px;
  transform: translate(0, -50%);

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.custom-range:nth-child(3) .custom-range__icon {
  position: absolute;
  left: 233px;
  transform: translate(-100%, -50%);

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }  
}
