.custom-range__icon:hover,
.custom-range__icon:focus {
  fill: @color-pink;
}

.custom-range__icon:active {
  opacity: 0.3;
}

.custom-range__status-bar:hover::after,
.custom-range__status-bar:focus::after {
  background-color: @color-pink;
}