.custom-range__icon {
  @media (min-width: @desktop-width) {
    transition: fill 0.4s;
  }
}

.custom-range__icon:hover {
  fill: @color-pink;
}

.custom-range__icon:active {
  opacity: 0.3;
}

.custom-range__status-bar:hover::after {
  background-color: @color-pink;
}
