.no-webp .header-photo__nav-box {
  background-image: none;
}

.webp .header-photo__nav-box {
  background-image: none;
}

.no-webp .header-photo {
  background-image: url(../image/min/back-mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px auto;

  @media (min-resolution: @x2retina-dpi),
         (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-mobile@2x-min.jpg);
  }
  
  @media (min-resolution: @x3retina-dpi),
         (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-mobile@3x-min.jpg);
  }
  
  @media (min-width: @tablet-width) {
    background-image: url(../image/min/back-tablet-min.jpg);
    background-size: 660px auto;
  }
  
  @media (min-width: @tablet-width) and (min-resolution: @x2retina-dpi),
         (min-width: @tablet-width) and (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-tablet@2x-min.jpg);
  }
  
  @media (min-width: @tablet-width) and (min-resolution: @x3retina-dpi),
         (min-width: @tablet-width) and (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-tablet@3x-min.jpg);
  }
  
  @media (min-width: @desktop-width) {
    background-image: url(../image/min/back-desktop-min.jpg);
    background-size: 1200px auto;
  }
  
  @media (min-width: @desktop-width) and (min-resolution: @x2retina-dpi),
         (min-width: @desktop-width) and (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-desktop@2x-min.jpg);
  }
  
  @media (min-width: @desktop-width) and (min-resolution: @x3retina-dpi),
         (min-width: @desktop-width) and (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-desktop@3x-min.jpg);
  }
}

.webp .header-photo {
  background-image: url(../image/min/back-mobile.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px auto;

  @media (min-resolution: @x2retina-dpi),
         (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-mobile@2x.webp);
  }
  
  @media (min-resolution: @x3retina-dpi),
         (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-mobile@3x.webp);
  }
  
  @media (min-width: @tablet-width) {
    background-image: url(../image/min/back-tablet.webp);
    background-size: 660px auto;
  }
  
  @media (min-width: @tablet-width) and (min-resolution: @x2retina-dpi),
         (min-width: @tablet-width) and (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-tablet@2x.webp);
  }
  
  @media (min-width: @tablet-width) and (min-resolution: @x3retina-dpi),
         (min-width: @tablet-width) and (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-tablet@3x.webp);
  }
  
  @media (min-width: @desktop-width) {
    background-image: url(../image/min/back-desktop.webp);
    background-size: 1200px auto;
  }
  
  @media (min-width: @desktop-width) and (min-resolution: @x2retina-dpi),
         (min-width: @desktop-width) and (min-resolution: @x2retina-dppx) {
    background-image: url(../image/min/back-desktop@2x.webp);
  }
  
  @media (min-width: @desktop-width) and (min-resolution: @x3retina-dpi),
         (min-width: @desktop-width) and (min-resolution: @x3retina-dppx) {
    background-image: url(../image/min/back-desktop@3x.webp);
  }
}