.header-photo {
  padding-bottom: 82px;

  @media (min-width: @tablet-width) {
    padding-bottom: 140px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 101px;
  }
}

.header-photo__nav-box {
  margin-bottom: 25px;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}

.header-photo__caption {
  display: block;
  width: 170px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}
