.btn-mark-1 {
  background-color: transparent;
  border: 2px solid @color-grey-x1;
  border-right: none;
  border-top: none;
}

.btn-mark-2 {
  background-color: transparent;
  border: 2px solid @color-grey-x1;
  border-left: none;
  border-top: none;
}
