@keyframes heart {
  0% {
    transform: translate(-100%, -50%) scale(1);
  }
  50% {
    transform: translate(-100%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-100%, -50%) scale(1);
  }
}

.btn-like:hover .btn-like__icon {
  @media (min-width: @desktop-width) {
    transform: translate(-100%, -50%) scale(1);

    animation-name: heart;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
}
