.post__caption {
  background-color: darkgrey;
}

.main-photo__upload-box {
  background-color: lightgrey;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  } 
}

.main__upload {
  background-color: lightgrey;
}
