.main-photo {
  padding-top: 45px;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
  }  
}

.main-photo__caption {
  .wrapper-mobile();
  margin-top: 0;
  margin-bottom: 49px;
  width: 242px;

  &:last-of-type {
    margin-bottom: 70px;
  }

  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }  
}

.main-photo__gallery {
  margin-bottom: 45px;
}

.main-photo__upload-box {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main__upload {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    height: 514px;
    padding: 57px 20px;
  }   
}
