.main-photo {
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
  }  
}

.main-photo__caption {
  .wrapper-mobile();
  width: 242px;

  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }  
}
