.header {
  .container-mobile();

  @media (min-width: @tablet-width) {
    .container-tablet();
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
  }
}

.header__nav-box {
  padding-bottom: 390px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.header__logo {
  width: 115px;
  height: 70px;

  @media (min-width: @tablet-width) {
    width: 187px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }  
}

.header__nav-btn {
  width: 90px;
  height: 70px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__menu {
  display: none;
  width: 100%;

  @media (min-width: @desktop-width) {
    display: grid;
    width: 660px;
  }
}

.header__menu--open {
  display: block;

  @media (min-width: @desktop-width) {
      display: grid;
      width: 660px;
    }
}

.header__download-box {
  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.header__download {
  .wrapper-mobile();
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left: 0;
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
