.icon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.icon-list__link {
  display: block;
  min-height: 50px;
}
