.main {
  .container-mobile();

  @media (min-width: @tablet-width) {
    .container-tablet();
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
  }  
}

.main__promo {
  .wrapper-mobile();
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.main__promo-caption {
  width: 210px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 735px;
  }   
}

.main__pictures-list {
  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.main__advrt-box {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main__rewiew {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.main__table-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 100px;
  padding-bottom: 100px;

  overflow: hidden;
}
