.table-price {
  min-width: 1000px;

  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    min-width: 620px;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    min-width: 1000px;
    .wrapper-desktop();
  }  
}

.table-price__th,
.table-price__td {
  width: 250px;
  padding: 7px;

  @media (min-width: @tablet-width) {
    width: 155px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
  }   
}

.table-price__price {
  margin-bottom: 0;
}
