.form__fieldset-box--grey-bg {  
  padding-top: 35px;
  padding-bottom: 34px;

  background-color: @color-grey; 

  @media (min-width: @tablet-width) {    
    padding-top: 0;
    padding-bottom: 0;

    background-color: transparent;
  }   
}
