.form {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.form__fieldset-box {
  &:nth-child(1) {
    order: -5;  
  }

  &:nth-child(2) {
    order: -2;

    @media (min-width: @tablet-width) {
      order: -4;
    }    
  }

  &:nth-child(3) {
    order: -3;
  }

  &:nth-child(4) {
    order: -4;

    @media (min-width: @tablet-width) {
      order: -2;
    }    
  }      
}

.form__fieldset-box {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }  
}

.form__fieldset-box--grey-bg {
  padding-top: 35px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }    
}

.form__fieldset-name,
.form__fieldset-app,
.form__fieldset-contacts,
.form__fieldset-progress,
.form__fieldset-comment {
  .wrapper-mobile();
  padding: 0;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.form__fieldset-name,
.form__fieldset-app {
  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form__legend-name,
.form__legend-contacts {
  display: none;
}

.form__legend-contacts {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__fieldset-name-inner,
.form__fieldset-app-inner,
.form__fieldset-contacts-inner,
.form__fieldset-progress-inner,
.form__legend-comment-inner {
  display: flex;
  flex-direction: column; 
}

.form__fieldset-name-inner {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    min-height: 291px;
  }
}

.form__fieldset-contacts-inner {
  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 36px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 18px;  
  }
}

.form__fieldset-progress-inner {
  padding-top: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-bottom: 37px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
  }  
}

.form__fieldset-app-inner {
  padding-top: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 53px;
    padding-left: 60px;
    padding-right: 60px;

  }
}

.form__fieldset-comment-inner {
  padding-top: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
    padding-bottom: 44px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__label-text {
  padding-left: 20px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-bottom: 0;
  }  
}

.form__label-tel,
.form__label-email {
  padding-left: 20px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-bottom: 0;
  }  

  @media (min-width: @desktop-width) {
    width: 370px;
  }
}

.form__label-radio {
  margin-bottom: 26px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }
}

.form__label-checkbox {
  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }  
  
  @media (min-width: @desktop-width) {
    width: 280px;
    margin-bottom: 0px;
  }
}

.form__input-tel,
.form__input-email {
  @media (min-width: @desktop-width) {
    width: 370px;
  }
}

.form__input-tel {
  @media (min-width: @desktop-width) {
    order: -2;
  }
}

.form__input-email {
  @media (min-width: @desktop-width) {
   order: -1; 
  }
}

.input-text {
  @media (min-width: @tablet-width) {
    width: 525px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }  
}

.form__input-text {
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }  
}

.form__label-tel,
.form__label-email {
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }      
}

.form__input-radio:checked + .label-radio::after {
  display: block;
}

.form__input-checkbox:checked + .label-checkbox::after {
  display: block;
}

.form__comment {
  width: 100%;
  height: 200px;

  @media (min-width: @desktop-width) {
    height: 120px;
  }
}

.form__submit-box {
  display: flex;
  flex-direction: column;
  .wrapper-mobile();
}

.form__submit-box {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.form__submit-btn {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
