.form__legend-name,
.form__legend-app,
.form__legend-contacts,
.form__legend-progress,
.form__legend-comment {
  .text-x0();
  text-align: center;
  text-transform: uppercase;
  color: @color-pink;
}

.form__label-text,
.form__label-tel,
.form__label-email {
  .text-x1();
  font-weight: lighter;
  text-transform: uppercase;
  color: @color-pink;
}

.form__footnote {
  .text-x0();
  text-transform: uppercase;
}

