.form__fieldset-box {
  background-color: darkgrey;  
}

.form__fieldset {
  border: none;
}

.form__label-radio::before {
  border: 2px solid @color-black;
  border-radius: 50%;
}

.form__label-radio::after {
  background-color: @color-pink;
  border-radius: 50%;
}

.form__label-checkbox::before {
  border: 2px solid @color-black; 
}

.form__label-checkbox::after {
  border-left: 2px solid @color-pink;
  border-bottom: 2px solid @color-pink;
}

.form__submit-btn {
  background-color: @color-green; 
}

.form__footnote-star {
  color: @color-pink;
}
