.form__legend-name,
.form__legend-app,
.form__legend-contacts,
.form__legend-progress,
.form__legend-comment {

  text-align: center;
  text-transform: uppercase;
  color: @color-pink;
}

.form__label-text,
.form__label-tel,
.form__label-email {

  font-weight: lighter;
  text-transform: uppercase;
  color: @color-pink;
}

.form__footnote {

  text-transform: uppercase;
}

