.form__fieldset-name,
.form__fieldset-app,
.form__fieldset-contacts,
.form__fieldset-progress,
.form__fieldset-comment {
  border: none;
}


.form__fieldset-app,
.form__fieldset-contacts,
.form__fieldset-progress,
.form__fieldset-comment {
  @media (min-width: @tablet-width) {
    border: 2px solid black;
  }
}

.form__footnote-star {
  color: @color-pink;
}

.form__fieldset-box--grey-bg {
  background-color: darkgrey;  
}

