.form__legend {
  .text-x0();
  text-align: center;
  text-transform: uppercase;
  color: @color-pink;
}

.form__label-text,
.form__label-tel,
.form__label-email {
  .text-x1();
  font-weight: lighter;
  text-transform: uppercase;
  color: @color-pink;
}

.form__label-radio,
.form__label-checkbox {
  .text-x3();
}

.form__submit-btn {
  .text-x3();
  font-weight: bold;
  text-transform: uppercase;  
}

.form__footnote {
  .text-x0();
  text-transform: uppercase;
}

