.footer {
  padding-top: 41px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 66px;
    padding-bottom: 65px;
  }   
}

.footer__caption {
  .wrapper-mobile();
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    width: 370px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    width: 465px;
    margin-bottom: 0;
  }  
}

.footer__contacts {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding-top: 43px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding-top: 55px;
    padding-bottom: 42px;
  }   
}

.footer__map {
  position: relative;

  .container-mobile();
  height: 200px;

  @media (min-width: @tablet-width) {
    .container-tablet();
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    height: 502px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    display: block;
    width: 36px;
    height: 36px;

    transform: translate(-50%, -50%);
  }
}

.footer__map-frame {
  width: @mobile-width;
  height: 200px;
  z-index: 10;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    height: 502px;
  }
}

.footer__copyright {
  .wrapper-mobile();
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding-top: 70px;
    padding-bottom: 70px;    
  }  
}
