.main-form__modal--open {
  display: flex;
}

.main-form__modal-complete--open {
  display: flex;
}

.main-form__modal--nojs {
  position: static;

  display: flex;
  margin: 0 auto;

  transform: translate(0, 0);
  box-shadow: none;
  border: 2px solid @color-grey-x1;
}