.main-form__modal--open {
  display: flex;
}

.main__modal-complete--open {
  display: flex;
}

.main-form__modal--no-js {
  position: static;

  display: flex;

  transform: translate(0, 0);
}

.main__modal-complete--no-js {
  position: static;

  display: flex;

  transform: translate(0, 0);
}