.main-form__caption {
  .wrapper-mobile();
  width: 271px;
  padding-top: 50px;
}

.main-form__modal {
  .container-mobile();
  padding: 20px;
}

.main__modal-complete {
  .container-mobile();
  padding: 20px;
}

