.main-form__modal--open {
  display: flex;
}

.main-form__modal-complete--open {
  display: flex;
}

.main-form__modal--nojs {
  position: static;

  display: flex;

  transform: translate(0, 0);
}

.main-form__modal-complete--nojs {
  position: static;

  display: flex;

  transform: translate(0, 0);
}