.main-form {
  padding-top: 45px;

  @media (min-width: @tablet-width) {
    padding-top: 93px;
  }  
}

.main-form__caption {
  width: 271px;
  margin: 0 auto;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    width: 490px;
  }

  @media (min-width: @desktop-width) {
    width: 752px;
  }  
}

.main-form__modal {
  display: none;
  .container-mobile();
}

.main__modal-complete {
  display: none;
  .container-mobile();
}

