.input-email__icon {
  @media (min-width: @desktop-width) {
    transition: transform 0.4s;
  }
}

.input-email:hover .input-email__icon,
.input-email__input:focus + .input-email__icon {
  @media (min-width: @desktop-width) {
    transform: translate(0, -50%) rotate(360deg) scale(1.6);
    transform-origin: 50% 50%;
  }
}