.burger {
  background-color: transparent;
  border: none; 
}

.burger__bar {
  background-color: @color-white;
  border-radius: 3px;

  &::after,
  &::before {
    background-color: @color-white;
    border-radius: 3px;
  }
}


