.burger:hover .burger__bar,
.burger:hover .burger__bar::after,
.burger:hover .burger__bar::before,
.burger:focus .burger__bar,
.burger:focus .burger__bar::after,
.burger:focus .burger__bar::before {
  background-color: @color-pink;
}

.burger--active:hover .burger__bar,
.burger--active:focus .burger__bar {
  background-color: transparent;
}

.burger--active:hover .burger__bar::after,
.burger--active:hover .burger__bar::before,
.burger--active:focus .burger__bar::after,
.burger--active:focus .burger__bar::before {
  background-color: @color-pink;
}

.burger:active {
  opacity: 0.3;
}

