@keyframes burgerBar {
  0% {
    transform: translate(-50%, -50%) scaleX(1);
  }
  100% {
    transform: translate(-50%, -50%) scaleX(0);
  }
}

@keyframes burgerAfter {
  0% {
    transform: translate(0, 0) rotate(0) scaleX(1);
  }
  25% {
    transform: translate(0, -9px) rotate(0) scaleX(1);
  }
  50% {
    transform: translate(0, -9px) rotate(0) scaleX(0.8);
  }
  100% {
    transform: translate(0, -9px) rotate(45deg) scaleX(0.8);
  }
}

@keyframes burgerBefore {
  0% {
    transform: translate(0, 0) rotate(0) scaleX(1);
  }
  25% {
    transform: translate(0, 9px) rotate(0) scaleX(1);
  }
  50% {
    transform: translate(0, 9px) rotate(0) scaleX(0.8);
  }
  100% {
    transform: translate(0, 9px) rotate(-45deg) scaleX(0.8);
  }
}

@keyframes burgerBarRev {
  0% {
    transform: translate(-50%, -50%) scaleX(1);
  }
  100% {
    transform: translate(-50%, -50%) scaleX(0);
  }
}

@keyframes burgerAfterRev {
  0% {
    transform: translate(0, 0) rotate(0) scaleX(1);
  }
  25% {
    transform: translate(0, -9px) rotate(0) scaleX(1);
  }
  50% {
    transform: translate(0, -9px) rotate(0) scaleX(0.8);
  }
  100% {
    transform: translate(0, -9px) rotate(45deg) scaleX(0.8);
  }
}

@keyframes burgerBeforeRev {
  0% {
    transform: translate(0, 0) rotate(0) scaleX(1);
  }
  25% {
    transform: translate(0, 9px) rotate(0) scaleX(1);
  }
  50% {
    transform: translate(0, 9px) rotate(0) scaleX(0.8);
  }
  100% {
    transform: translate(0, 9px) rotate(-45deg) scaleX(0.8);
  }
}

.burger--active .burger__bar {
  animation-name: burgerBar;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.06, 0.71, 0.32, 1);
  animation-fill-mode: forwards;
}

.burger--active::after {
  animation-name: burgerAfter;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.06, 0.71, 0.32, 1);
  animation-fill-mode: forwards;
}

.burger--active::before {
  animation-name: burgerBefore;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.06, 0.71, 0.32, 1);
  animation-fill-mode: forwards;
}

.burger--disactive .burger__bar {
  animation-name: burgerBarRev;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

.burger--disactive::after {
  animation-name: burgerAfterRev;
  animation-delay: 0;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

.burger--disactive::before {
  animation-name: burgerBeforeRev;
  animation-delay: 0;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

