.burger {
  background-color: transparent;
  border: none; 
}

.burger__bar {
  background-color: @color-white;

  &::after,
  &::before {
    background-color: @color-white; 
  }
}

.burger--active-js {
  .burger__bar {
    background-color: transparent; 
  }
}
