.burger:hover .burger__bar,
.burger:hover::after,
.burger:hover::before {
  background-color: @color-pink;
}

.burger--active:hover::after,
.burger--active:hover::before {
  background-color: @color-pink;
}

.burger:active {
  opacity: 0.3;
}

