html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: @mobile-width;

  font-family: "Open Sans", sans-serif;
  .text-x5();
  font-weight: normal;
  color: @color-text;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

*:focus {
  outline: none;
}
