@font-face {
    font-family: "Open Sans";
    src: url("../../font/woff2/opensans-regular.woff2") format("woff2"),
         url("../../font/woff/opensans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../font/woff2/opensans-light.woff2") format("woff2"),
         url("../../font/woff/opensans-light.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../font/woff2/opensans-bold.woff2") format("woff2"),
         url("../../font/woff/opensans-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
