@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/woff2/opensans-regular-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-regular-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/woff2/opensans-light-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-italic-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-Italic.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/woff2/opensans-light-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-light-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-Light.ttf") format("ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/woff2/opensans-lightitalic-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-lightitalic-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-LightItalic.ttf") format("ttf");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/woff2/opensans-bold-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-bold-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/woff2/opensans-bolditalic-webfont.woff2") format("woff2"),
         url("../fonts/woff/opensans-bolditalic-webfont.woff") format("woff"),
         url("../fonts/ttf/OpenSans-BoldItalic.ttf") format("ttf");
    font-weight: bold;
    font-style: italic;
}
