/* Блок до брейкпоинта */
.container-mobile() {
  max-width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
}

.container-tablet() {
  max-width: @tablet-width;
  margin-left: auto;
  margin-right: auto;
}

.container-desktop() {
  max-width: @desktop-width;
  margin-left: auto;
  margin-right: auto;
}
/* Блок центровщик контента */
.wrapper-mobile() {
  width: @mobile-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-tablet() {
  width: @tablet-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-desktop() {
  width: @desktop-content;
  margin-left: auto;
  margin-right: auto;
}
/* Отступы до краев для элементов */
.padding-mobile() {
  padding-left: @mobile-padding;
  padding-right: @mobile-padding;
}

.padding-tablet() {
  padding-left: @tablet-padding;
  padding-right: @tablet-padding;
}

.padding-desktop() {
  padding-left: @desktop-padding;
  padding-right: @desktop-padding;
}
/* Отступы до краев для элементов в промежуточных состояниях */
.padding-mobile-tablet() {
  padding-left: @mobile-tablet-padding;
  padding-right: @mobile-tablet-padding;
}

.padding-tablet-desktop() {
  padding-left: @tablet-desktop-padding;
  padding-right: @tablet-desktop-padding;
}

.padding-desktop-out() {
  padding-left: @desktop-out-padding;
  padding-right: @desktop-out-padding;
}
