/* Блок до брейкпоинта */
.container-mobile() {
  max-width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
}

.container-tablet() {
  max-width: @tablet-width;
  margin-left: auto;
  margin-right: auto;
}

.container-desktop() {
  max-width: @desktop-width;
  margin-left: auto;
  margin-right: auto;
}
/* Блок центровщик контента */
.wrapper-mobile() {
  width: @mobile-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-tablet() {
  width: @tablet-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-desktop() {
  width: @desktop-content;
  margin-left: auto;
  margin-right: auto;
}
/* Текст */
.text-x0() {
  font-size: 12px;
  line-height: 19px;
}

.text-x1() {
  font-size: 14px;
  line-height: 18px;
}

.text-x2() {
  font-size: 14px;
  line-height: 24px;
}

.text-x3() {
  font-size: 14px;
  line-height: 30px;
}

.text-x4() {
  font-size: 16px;
  line-height: 30px;
}

.text-x5() {
  font-size: 18px;
  line-height: 18px;
}

.text-x6() {
  font-size: 18px;
  line-height: 24px;
}

.text-x7() {
  font-size: 18px;
  line-height: 30px;
}

.text-x8() {
  font-size: 18px;
  line-height: 32px;
}

.text-x9() {
  font-size: 21px;
  line-height: 21px;
}

.text-x10() {
  font-size: 24px;
  line-height: 30px;
}

.text-x10-1() {
  font-size: 31px;
  line-height: 36px;
}

.text-x11() {
  font-size: 40px;
  line-height: 48px;
}

.text-x12() {
  font-size: 50px;
  line-height: 60px;
}

.text-x13() {
  font-size: 90px;
  line-height: 90px;
}
