/* Блок до брейкпоинта */
.container-mobile() {
  max-width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
}

.container-tablet() {
  max-width: @tablet-width;
  margin-left: auto;
  margin-right: auto;
}

.container-desktop() {
  max-width: @desktop-width;
  margin-left: auto;
  margin-right: auto;
}
/* Блок центровщик контента */
.wrapper-mobile() {
  width: @mobile-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-tablet() {
  width: @tablet-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-desktop() {
  width: @desktop-content;
  margin-left: auto;
  margin-right: auto;
}
/* Текст */
.text-x0() {
  font-size: 12px;
  line-height: 19px;
}

.text-x1() {
  font-size: 14px;
  line-height: 22px;
}

.text-x2() {
  font-size: 16px;
  line-height: 26px;
}

.text-x3() {
  font-size: 18px;
  line-height: 30px;
}

.text-x4() {
  font-size: 24px;
  line-height: 38px;
}
/* Заголовки */
.caption-x0() {
  font-size: 14px;
  line-height: 22px;
}

.caption-x1() {
  font-size: 18px;
  line-height: 30px;
}

.caption-x2() {
  font-size: 24px;
  line-height: 30px;
}

.caption-x3() {
  font-size: 24px;
  line-height: 30px;
}

.caption-x4() {
  font-size: 40px;
  line-height: 64px;
}

.caption-x5() {
  font-size: 50px;
  line-height: 80px;
}
