/* Цвет текста по умолчанию для документа */
@color-text: #283645;
/* Цвет розовый по умолчанию для фонов текста и элементов */
@color-pink: #d22856;
/* Цвет белый по умолчанию для фонов текста и элементов */
@color-white: #ffffff;
/* Цвет синий по умолчанию для фонов текста и элементов */
@color-blue: #283645;
/* Ширины вьюпортов */
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
/* Ширины контента для миксинов и элементов центровки */
@mobile-content: 280px;
@tablet-content: 620px;
@desktop-content: 940px;
/* Отступы для оберток и элементов */
@mobile-padding: 20px;
@tablet-padding: 20px;
@desktop-padding: 60px;
/* Отступы до краев для элементов в промежуточных состояниях */
@mobile-tablet-padding: 0px;
@tablet-desktop-padding: 0px;
@desktop-out-padding: 0px;
