/* Цвет текста по умолчанию для документа */
@color-text: #283645;
/* Цвет розовый по умолчанию для фонов текста и элементов */
@color-pink: #d22856;
/* Цвет белый по умолчанию для фонов текста и элементов */
@color-white: #ffffff;
/* Цвет синий по умолчанию для фонов текста и элементов */
@color-blue: #283645;
/* Цвет синий по умолчанию для фонов текста и элементов */
@color-black: #000000;
/* Цвет серый для рамок и элементов */
@color-grey: #e5e5e5;
/* Ширины вьюпортов */
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
/* Ширины контента для миксинов и элементов центровки */
@mobile-content: 280px;
@tablet-content: 620px;
@desktop-content: 940px;
/* Отступы для оберток и элементов */
@mobile-padding: 20px;
@tablet-padding: 20px;
@desktop-padding: 60px;
/* Ширины брейкпоинтов для промежуточных состояний */
@mobile-tablet-width: @mobile-width + 20px;
@tablet-desktop-width: @tablet-width + 40px;
@desktop-out-width: @desktop-width + 60px;
/* Ширины контента для промежуточных состояний */
@mobile-tablet-content-width: 80%;
@tablet-desktop-content-width: 90%;
@desktop-out-content-width: 80%;

@mobile-tablet-padding: 10%;
@tablet-desktop-padding: 5%;
@desktop-out-padding: 10%;
