/* Цвет текста по умолчанию для документа */
@color-text: #283645;
/* Цвет розовый по умолчанию для фонов текста и элементов */
@color-pink: #d22856;
/* Цвет белый по умолчанию для фонов текста и элементов */
@color-white: #ffffff;
/* Цвет синий по умолчанию для фонов текста и элементов */
@color-blue: #283645;
