.download__caption {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.download__btn {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.download__icon-list {
  width: 210px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.download__text {
  display: block;
}
