.header-form__caption {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    width: 470px;
  }  

  @media (min-width: @desktop-width) {
    width: 740px;
  }    
}
