.header-form {
  padding-bottom: 80px;
}

.header-form__caption {
  display: block;
  width: 230px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 490px;
  }  

  @media (min-width: @desktop-width) {
    width: 740px;
  }    
}
