.menu {
  display: block;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @desktop-width) {
    grid-gap: 20px;
    grid-template-columns: 150px 150px 150px 150px;
  }
}

.menu__link {
  display: block;
  padding: 20px;

  @media (min-width: @desktop-width) {
    padding: 11px 0;
  }
}

