.menu__link {
  transition: color 0.4s;
}

.menu__link:hover {
  color: @color-pink;
}

.menu__link:active {
  color: rgba(210, 40, 86, 0.3);

  transition: color 0s;

  @media (min-width: @desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}
