.menu__link {
  background-color: @color-blue-x2;
  box-shadow: 0 -1px 0 0 @color-black,
              0 1px 0 0 @color-black;

  @media (min-width: @desktop-width) {
    background-color: transparent;
    box-shadow: none;
  }  
}