.menu {
  display: block;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @desktop-width) {
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto;
  }
}

.menu__link {
  display: block;
  padding: 20px;

  @media (min-width: @desktop-width) {
    padding: 11px;
  }
}

