.pictures-list {
  list-style: none; 
}

.pictures-list__caption {
  .caption-3-s();
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }  
}

.pictures-list__text {
  .text-1();  
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }  
}
