.table-price__th {
  .caption-3-s();
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
}

.table-price__price {
  .caption-2-s();
  text-transform: uppercase;
  color: @color-white;
}

.table-price__td {
  .caption-3-s();
  font-weight: normal;
}
