.pictures-list {
  list-style: none; 
}

.pictures-list__caption {
  .text-x7();
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    text-align: left;
  } 

  @media (min-width: @desktop-width) {
    .text-x10-2();
    text-align: center;
  }    
}

.pictures-list__text {
  .text-x2();
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  } 

  @media (min-width: @desktop-width) {
    .text-x7();
    text-align: center;
  }   
}
