.pictures-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;  

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
  } 

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }  

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.pictures-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    width: 310px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    width: 240px;
  }  
}

.pictures-list__img-box {
  position: relative;

  order: 1;
  display: none;
  height: 280px;

  overflow: hidden;

  @media (min-width: @desktop-width) {
    order: -1;
    display: block;
    height: 302px;    
    margin-bottom: 56px;
  }

  &-3 {
    display: block;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.pictures-list__img {
  width: 157px;
  height: 320px;

  @media (min-width: @desktop-width) {
    width: 186px;
    height: 382px;
  }
}

.pictures-list__img-filter {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 165px;
    height: 294px;
  }
}

.pictures-list__img-filter {
  position: absolute;
  top: 44px;
  left: 11px;
}

.pictures-list__caption {
  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }  

  @media (min-width: @desktop-width) {
    margin-bottom: 24px;
  }  
}

.pictures-list__text {
  margin: 0;    
}

.pictures-list__item:last-child .pictures-list__text {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }  
}
