.pictures-list {
  list-style: none; 
}

.pictures-list__caption {
  .caption-x1();
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    text-align: left;
  }  
}

.pictures-list__text {
  .text-x1();
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  } 

  @media (min-width: @desktop-width) {
    text-align: center;
  }   
}
