.pictures-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 68px;
    padding-bottom: 46px;
  } 

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.pictures-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    width: 295px;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    width: 240px;
  }  
}

.pictures-list__img-box {
  order: 1;
  display: none;
  height: 290px;

  overflow: hidden;

  @media (min-width: @desktop-width) {
    order: -1;
    display: block;
    margin-bottom: 50px;
  }

  &-3 {
    display: block;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.pictures-list__caption {
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }  
}

.pictures-list__text {
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
  }   
}

.pictures-list__item:last-child .pictures-list__text {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
