.social-list__link {
  @media (min-width: @desktop-width) {
    transition: border-color 0.4s;
  }
}

  .social-list__icon {
    @media (min-width: @desktop-width) {
      transition: fill 0.4s;
    }
  }

.social-list__link:hover,
.social-list__link:focus {
  border-color: @color-pink;

  .social-list__icon {
    fill: @color-text;
  }
}

.social-list__link:active {
  opacity: 0.3;

  .social-list__icon {
    fill: @color-pink;
  }
}

