@keyframes checkbox {
  0% {
    transform: translate(8px, -70%) rotate(-45deg) scale(0);
  }
  50% {
    transform: translate(8px, -70%) rotate(-45deg) scale(1.2);
  }
  100% {
    transform: translate(8px, -70%) rotate(-45deg) scale(1);
  }
}

.form__input-checkbox:checked + .label-checkbox::after {
  display: block;

  animation-name: checkbox;
  animation-duration: 1s;
}