.table-price__th {
  .text-x7();
  text-align: center;
  text-transform: uppercase;
  color: @color-white;

  @media (min-width: @tablet-width) {
  .text-x4();
  } 
}

.table-price__price {
  .text-x10();
  font-weight: lighter;
  text-transform: uppercase;
  color: @color-white;

  @media (min-width: @tablet-width) {
    .text-x7();
  }
}

.table-price__td {
  .text-x3();
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }    

  @media (min-width: @desktop-width) {
    .text-x7();
    text-align: left;
  }  
}

.table-price__th--hit {
  &::before {
    .text-x3();
    font-weight: lighter;
  }
}
