.table-price__th,
.table-price__td {
  border: 2px solid @color-grey;
}

.table-price__th {
  background-color: @color-blue;

  &:first-child {
    border: none;
    background-color: transparent;
  }
}
