.table-price__td--disabled {
  &:not(:first-child)::after,
  &:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 45%;
    left: 87%;

    display: block;
    width: 35px;
    height: 4px;
  }

  &:not(:first-child)::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:not(:first-child)::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }  
}

.table-price__td--disabled:not(:first-child)::after,
.table-price__td--disabled:not(:first-child)::before {
  @media (min-width: @tablet-width) {
    left: 50%;
  }
}

.table-price__th--hit {
  position: relative;

  overflow: hidden;

  &::before {
    position: absolute;
    content: "Хит";
    top: 4px;
    left: -40px;

    display: block;
    width: 120px;
    padding: 3px;

    transform: rotate(-45deg);

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }
}

.table-price__th--hit::before {
  position: absolute;
  content: "Хит";
  top: 4px;
  left: -40px;

  display: block;
  width: 120px;
  padding: 3px;

  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}