.table-price__th {
  .text-x3();
  text-align: center;
  text-transform: uppercase;
  color: @color-white;

  @media (min-width: @tablet-width) {
    .text-x2();
  }

  @media (min-width: @desktop-width) {
    .text-x3();
  }  
}

.table-price__price {
  .text-x4();
  font-weight: lighter;
  text-transform: uppercase;
  color: @color-white;

  @media (min-width: @tablet-width) {
    .text-x3();
  }

  @media (min-width: @desktop-width) {
    .text-x4();
  }  
}

.table-price__td {
  .text-x1();
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    text-align: left;
  }  

  @media (min-width: @desktop-width) {
    .text-x3();
  }  
}

.table-price__th--hit {
  &::before {
    font-size: 10px;
    line-height: 12px;
    font-weight: lighter;
  }
}
