.table-price {
  border-collapse: collapse; 
}

.table-price__th,
.table-price__td {
  width: 290px;

  @media (min-width: @tablet-width) {
    width: 155px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
  }   
}

.table-price__th {
  padding: 17px;

  @media (min-width: @tablet-width) {
    padding: 10px;
  }  
}

.table-price__td {
  padding: 15px;

  @media (min-width: @tablet-width) {
    padding: 7px;
  }
}

.table-price__price {
  display: block;
}

.table-price__td {
  position: relative;

  &:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 43%;
    left: 87%;

    display: block;
    width: 30px;
    height: 14px;

    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    &:not(:first-child)::before {
      left: 50%;
    } 
  }
}

.table-price__td--disabled {
  &:not(:first-child)::after,
  &:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 45%;
    left: 87%;

    display: block;
    width: 35px;
    height: 4px;
  }

  &:not(:first-child)::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:not(:first-child)::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  } 

  @media (min-width: @tablet-width) {
    &:not(:first-child)::after,
    &:not(:first-child)::before {
      left: 50%;
    }
  } 
}

.table-price__label {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.table-price__th--hit {
  position: relative;

  overflow: hidden;

  &::before {
    position: absolute;
    content: "Хит";
    top: 4px;
    left: -40px;

    display: block;
    width: 120px;
    padding: 3px;

    transform: rotate(-45deg);

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }
}
