.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.contacts__item {
  width: 220px;
  margin-top: 0;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 420px;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 220px;
    margin-bottom: 0;
  } 
}  

.contacts__caption {
  display: block;
}

.contacts__link {
  display: block;
}
