.contacts__item {
  text-align: center;
}

.contacts__caption {
  font-weight: bold;
  color: @color-black;  
}

.contacts__link {
  .text-x4();
  font-weight: lighter;
  word-wrap: break-word;
  color: @color-pink;
}
