.contacts__item {
  text-align: center;
  word-wrap: break-word;
}

.contacts__caption {
  .text-x6();  
  font-weight: bold;
  color: @color-black;  
}

.contacts__link {
  .text-x10();
  font-weight: lighter;
  text-decoration: none;
  word-wrap: break-word;
  color: @color-pink;
}
