.upload__btn-box {
  border-top: 2px solid gray;
}

.upload__btn {
  background-color: transparent;
  border-color: @color-pink;
  color: @color-pink;
}

.upload__btn--disabled {
  border-color: gray;
  color: gray;
}
