.upload__btn:hover, 
.upload__btn:focus {
  background-color: @color-pink;
  color: @color-white;
}

.upload__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.upload__btn-reset:hover, 
.upload__btn-reset:focus {
  background-color: transparent;
  border-color: #b1b1b1;
  color: #b1b1b1;
}

.upload__btn-reset:active {
  background-color: #b1b1b1;
  background-color: @color-grey-x1;
  color: rgba(210, 40, 86, 0.3);
}