.btn-small {
  @media (min-width: @desktop-width) {
    transition: background-color 0.4s, color 0.4s;
  }
}

.btn-small:hover,
.btn-small:focus {
  background-color: @color-white;
  color: @color-pink;
}

.btn-small:active {
  opacity: 0.3;
}
