.main__table-price--left-0x {
  @media (max-width: @tablet-width) {
    transform: translateX(-290px);
  }
}

.main__table-price--left-1x {
  @media (max-width: @tablet-width) {
    transform: translateX(-580px);
  }
}

.main__table-price--left-2x {
  @media (max-width: @tablet-width) {
    transform: translateX(-870px);
  }
}
