.main__pictures-box {
  background-color: @color-grey;
  background-image: linear-gradient(174deg, #ffffff 20%, #f2f2f2 20%);
}

.no-webp .main__pictures-list {
  @media (min-width: @tablet-width) {
    background-image: url("../image/min/Iphonescreen-tablet-min.png");
    background-repeat: no-repeat;
    background-position: 0 50px;
    background-size: 268px auto;

    @media (min-resolution: @x2retina-dpi),
           (min-resolution: @x2retina-dppx) {
      background-image: url("../image/min/Iphonescreen-tablet-min@2x.png");    
    }

    @media (min-resolution: @x3retina-dpi),
           (min-resolution: @x3retina-dppx) {
      background-image: url("../image/min/Iphonescreen-tablet-min@3x.png");    
    }
  }

  @media (min-width: @desktop-width) {
    background: none;
  }
}

.webp .main__pictures-list {
  @media (min-width: @tablet-width) {
    background-image: url("../image/min/Iphonescreen-tablet.webp");
    background-repeat: no-repeat;
    background-position: 0 50px;
    background-size: 268px auto;

    @media (min-resolution: @x2retina-dpi),
           (min-resolution: @x2retina-dppx) {
      background-image: url("../image/min/Iphonescreen-tablet@2x.webp");    
    }

    @media (min-resolution: @x3retina-dpi),
           (min-resolution: @x3retina-dppx) {
      background-image: url("../image/min/Iphonescreen-tablet@3x.webp");    
    }
  }

  @media (min-width: @desktop-width) {
    background: none;
  }
}


.main__advrt-box {
  @media (min-width: @desktop-width) {
    background-color: @color-grey;
  } 
}

.main__table-shell {
  background-color: @color-grey;
  background-image: linear-gradient(174deg, #ffffff 20%, #f2f2f2 20%);
}

