.main__caption {
  .caption-x3();
  line-height: 32px;
  font-weight: lighter;
  text-align: center;

  @media (min-width: @tablet-width) {
    .caption-x4();
  }  

  @media (min-width: @desktop-width) {
    .caption-x5();
  }
}
