.main__table-price--left-0x {
  @media (max-width: @tablet-width) {
    transform: translateX(-275px);
  }
}

.main__table-price--left-1x {
  @media (max-width: @tablet-width) {
    transform: translateX(-565px);
  }
}

.main__table-price--left-2x {
  @media (max-width: @tablet-width) {
    transform: translateX(-840px);
  }
}
