.main {
  .container-mobile();

  @media (min-width: @tablet-width) {
    .container-tablet();
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
  }  
}

.main__promo {
  padding-top: 28px; 
}

.main__promo-caption {
  display: block;
  width: 210px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 735px;
  }
}

.main__promo-caption-2 {
  @media (min-width: @desktop-width) {
    width: 420px;
  }
}

.main__pictures-list {
  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.main__advrt-box {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main__rewiew-box {
  position: relative;
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.main__rewiew-btn-box {
  width: 70px;
  margin-right: auto;
  margin-left: auto;
}

.main__rewiew-btn-mark-1,
.main__rewiew-btn-mark-2 {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.main__rewiew-btn-mark-1 {
  position: absolute;
  left: -5%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(45deg);  
}

.main__rewiew-btn-mark-2 {
  position: absolute;
  left: 105%;
  bottom: 50%;

  transform: translate(-50%, 50%) rotate(-45deg);
}

.main__table-box {
  display: flex;
  align-items: flex-start;

  padding-top: 100px;
  padding-bottom: 100px;

  overflow: hidden;
}

.main__table-price {

  @media (max-width: @tablet-width) {
    &--left-1x-js {
      transform: translateX(-215px);
    }
    &--left-2x-js {
      transform: translateX(-465px);
    }

    &--left-3x-js {
      transform: translateX(-680px);
    }     
  }
}

  
