.main__promo {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 66px;
  }  
}

.main__caption {
  display: block;
  width: 210px;
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 735px;
  }   
}

.main__caption-2 {
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 570px;
  }  

  @media (min-width: @desktop-width) {
    width: 420px;
  }
}

.main__pictures-box {
  padding-top: 108px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }  
}

.main__pictures-list {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding-top: 119px;
    padding-bottom: 42px;     
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    width: 890px;
  }   
}

.main__advrt-box {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 96px;
    padding-bottom: 38px;      
  }
}

.main__advrt {
  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding-left: 20px;  
  }  

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }    
}

.main__review-box {
  position: relative;

  .wrapper-mobile();
  padding-top: 43px;
  padding-bottom: 47px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding-top: 87px; 
    padding-bottom: 55px;  
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }  
}

.review__btn-mark-1,
.review__btn-mark-2 {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.main__table-shell {
  position: relative;

  padding-top: 130px;
  padding-bottom: 97px;

  @media (min-width: @tablet-width) {
    padding-top: 105px;
    padding-bottom: 68px;
  }
}

.main__btn-box {
  position: absolute;
  bottom: 45px;
  left: 50%;

  width: 58px;

  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main__table-box {
  .container-mobile();

  overflow: hidden;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    .wrapper-tablet();   
  } 

  @media (min-width: @desktop-width) {
    max-width: 1000px;
    width: 1000px;
  }    
}

.main__table-price {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: @tablet-width) {
    &--left-1x-js {
      transform: translateX(-275px);
    }
    &--left-2x-js {
      transform: translateX(-565px);
    }
    &--left-3x-js {
      transform: translateX(-840px);
    }   
  }
     
  @media (min-width: @tablet-width) {
    width: 620px;  
  }

  @media (min-width: @desktop-width) {
    width: 1000px;
  }  
}

  
