.advrt {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 60px;  
    padding-left: 20px;  

    @media (min-width: @desktop-width) {
      padding-top: 85px;
      padding-bottom: 94px;  
    }    
  }    
}

.advrt__descript {
  @media (min-width: @tablet-width) {
    width: 312px;
  }    

  @media (min-width: @desktop-width) {
    width: 575px;
  }
}

.advrt__caption {
  @media (min-width: @tablet-width) {
    width: 175px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }  
}

.advrt__text {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 12px; 
  }
}

.advrt__time {
  @media (min-width: @tablet-width) {
    position: relative;

    display: block;
    width: 205px;
    height: 205px;

    &::after {
      position: absolute;
      content: "24";
      top: 50%;
      left: 50%;

      display: block;

      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: @desktop-width) {
    width: 253px;
    height: 253px;
  }  
}

.advrt__time-img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transform: translate(-50%, -50%);
}
