.advrt__caption {
  @media (min-width: @tablet-width) {


    color: @color-black;
  }

  @media (min-width: @desktop-width) {
    
  }  
}

.advrt__text {
    @media (min-width: @tablet-width) {

  }  

  @media (min-width: @desktop-width) {

  }  
}

.advrt__link {
    @media (min-width: @tablet-width) {

    color: @color-pink;
  }

  @media (min-width: @desktop-width) {

  }   
}

.advrt__time {
  @media (min-width: @tablet-width) {
    &::after {

      font-weight: bold;
      color: @color-pink;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {

    }
  }  
}
