.advrt__caption {
  @media (min-width: @tablet-width) {
    .text-x10-1();
    color: @color-black;
  }

  @media (min-width: @desktop-width) {
    .text-x10-1();
  }  
}

.advrt__text {
    @media (min-width: @tablet-width) {
    .text-x2();
  }  

  @media (min-width: @desktop-width) {
    .text-x7();
  }  
}

.advrt__link {
    @media (min-width: @tablet-width) {
    .text-x2();
    color: @color-pink;
  }

  @media (min-width: @desktop-width) {
    .text-x7();
  }   
}

.advrt__time {
  @media (min-width: @tablet-width) {
    &::after {
      .text-x13();
      font-weight: bold;
      color: @color-pink;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      .text-x14();
    }
  }  
}
