.main__advrt-box {
  @media (min-width: @tablet-width) {
    background-color: lightgrey;
  }
}

.advrt__time {
  @media (min-width: @tablet-width) {
    border: 14px solid @color-pink;
    border-radius: 50%; 
  }
}
